@charset "utf-8";
html{overflow-y:scroll;}
html,
body {margin:0; padding:0; border:0;}
body{
	/*height:100%;*/
	font-size:12px;
	color:#4C4C4C;
	font-family:'돋움',"dotum", Sans-serif;	
	
}
div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldse,p{
	margin:0px;padding:0px;
	font-size:12px;
	color:#4C4C4C;
	list-style:none;
	vertical-align:top;
}
span{vertical-align:top}
a{vertical-align:top}
table, tr, td, th {border-collapse:collapse;border-spacing:0px;padding:0px;}


select {font-size:12px; font-family:'돋움',"dotum", Sans-serif; padding:1px; height:20px;color:#4C4C4C}
fieldset,dl,dd,dt,img{border:0;vertical-align:top;}
address,em{font-style:normal }
hr,legend,caption{display:none;}
caption{display:none}
/* Font-Size */
.b	{font-weight:bold;}
.nor{font-weight:normal !important}
.fs9{font-size:9px;}
.fs10{font-size:10px;}
.fs11{font-size:11px !important}
.fs12{font-size:12px !important;}
.fs13{font-size:11px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs16{font-size:16px;}
.fs17{font-size:17px;}
.fs18{font-size:18px;}
.fs19{font-size:19px;}
.fs20{font-size:20px;}
.fs21{font-size:21px;}
.fs22{font-size:22px;}
.fs23{font-size:23px;}

/* line-height */
.l3{line-height:3px;}
.l4{line-height:4px;}
.l7{line-height:7px;}
.l12{line-height:12px;}
.l13{line-height:14px;}
.l14{line-height:14px;}
.l16{line-height:16px;}
.l17{line-height:17px;}
.l18{line-height:18px;}
.l19{line-height:19px;}
.l20{line-height:20px;}
.l22{line-height:22px !important;}
.l24{line-height:24px;}
.l28{line-height:28px;}
.l29{line-height:29px;}

.let09 {letter-spacing:-0.09em;}
.let{letter-spacing:-1px}
.let3{letter-spacing:3px}


/* Box-Model */
.fl{float:left}
.fr{float:right}
.cl{clear:both}
.display_n{display:none;}
.display_b{display:block !important;}
.position_r{position:relative;}
.position_r01{position:relative;}
.position_r02{position:relative;}
.position_a{position:absolute;}
.c{text-align:center}
.rr{text-align:right}
.lf{text-align:left !important;}
.top{vertical-align:top;}
.txt_bottom{vertical-align:bottom;}
.mid{vertical-align:middle !important;}
.jt{text-align:justify;}

.pad_0{padding:0 !important;}
.pad_t0{padding-top:0 !important;}
.pad_t1{padding-top:1px !important;}
.pad_t2{padding-top:2px}
.pad_t3{padding-top:3px}
.pad_t4{padding-top:4px}
.pad_t5{padding-top:5px}
.pad_t6{padding-top:6px}
.pad_t7{padding-top:7px}
.pad_t8{padding-top:8px}
.pad_t9{padding-top:9px}
.pad_t10{padding-top:10px}
.pad_t11{padding-top:11px}
.pad_t12{padding-top:12px}
.pad_t13{padding-top:14px}
.pad_t14{padding-top:14px !important;}
.pad_t15{padding-top:15px !important;}
.pad_t17{padding-top:17px}
.pad_t18{padding-top:18px}
.pad_t20{padding-top:20px !important;}
.pad_t25{padding-top:25px}
.pad_t26{padding-top:26px}
.pad_t27{padding-top:27px} /* attach 110908 CSK */
.pad_t30{padding-top:30px}
.pad_t35{padding-top:35px}
.pad_t40{padding-top:40px}
.pad_t43{padding-top:43px} /* attach 110908 CSK */
.pad_t60{padding-top:60px}
.pad_t90{padding-top:90px}
.pad_t36 {padding-top:36px;}
.pad_t171 {padding-top:171px;}


.pad_l2{padding-left:2px}
.pad_l3{padding-left:3px}
.pad_l4{padding-left:4px}
.pad_l5{padding-left:5px}
.pad_l6{padding-left:6px}
.pad_l7{padding-left:7px}
.pad_l8{padding-left:8px; }
.pad_l9{padding-left:9px}
.pad_l10{padding-left:10px}
.pad_l12{padding-left:12px}
.pad_l13{padding-left:13px}
.pad_l15{padding-left:15px}
.pad_l18{padding-left:18px}
.pad_l20{padding-left:20px !important;}
.pad_l25{padding-left:25px}
.pad_l30{padding-left:30px}
.pad_l37{padding-left:37px}
.pad_l140{padding-left:150px}
.pad_l70{padding-left:70px;}
.pad_l91{padding-left:91px;}

.pad_r3{padding-right:3px}
.pad_r5{padding-right:5px}
.pad_r6{padding-right:6px !important;}
.pad_r8{padding-right:8px}
.pad_r10{padding-right:10px}
.pad_r12{padding-right:12px}
.pad_r15{padding-right:15px}
.pad_r18{padding-right:18px}
.pad_r20{padding-right:20px}
.pad_r26{padding-right:26px}
.pad_r30{padding-right:30px}
.pad_r31{padding-right:31px}
.pad_r32{padding-right:32px}
.pad_r33{padding-right:33px}
.pad_r34{padding-right:34px}
.pad_r35{padding-right:35px}
.pad_r60{padding-right:60px}
.pad_r70{padding-right:70px}

.pad_b0{padding-bottom:0px !important}
.pad_b2{padding-bottom:2px}
.pad_b3{padding-bottom:3px}
.pad_b4{padding-bottom:4px}
.pad_b5{padding-bottom:5px}
.pad_b6{padding-bottom:6px}
.pad_b7{padding-bottom:7px !important;}
.pad_b8{padding-bottom:8px}
.pad_b10{padding-bottom:10px}
.pad_b13{padding-bottom:14px !important;}
.pad_b15{padding-bottom:15px}
.pad_b17{padding-bottom:17px}
.pad_b20{padding-bottom:20px !important}
.pad_b25{padding-bottom:25px}
.pad_b30{padding-bottom:30px}
.pad_b35{padding-bottom:35px !important;}
.pad_b40{padding-bottom:40px;}
.pad_b70{padding-bottom:40px;}

.pad_b71 {padding-bottom:71px;}


.mt1{margin-top:1px}
.mt2{margin-top:2px !important;}
.mt3{margin-top:3px}
.mt4{margin-top:4px}
.mt5{margin-top:5px}
.mt6{margin-top:6px}
.mt7{margin-top:7px}
.mt8{margin-top:8px}
.mt9{margin-top:9px}
.mt10{margin-top:10px !important;}
.mt11{margin-top:11px !important;}
.mt12{margin-top:12px}
.mt13{margin-top:14px}
.mt15{margin-top:15px !important;}
.mt17{margin-top:17px}
.mt18{margin-top:18px}
.mt20{margin-top:20px !important}
.mt22{margin-top:22px}
.mt23{margin-top:23px}
.mt24{margin-top:24px}
.mt25{margin-top:25px}
.mt30{margin-top:30px !important;}
.mt33{margin-top:33px}
.mt35{margin-top:35px}
.mt36{margin-top:36px}
.mt40{margin-top:40px !important}
.mt45{margin-top:45px}
.mt49{margin-top:49px}
.mt50{margin-top:50px}
.mt55{margin-top:55px}
.mt60{margin-top:60px}
.mt80{margin-top:80px}
.mt100{margin-top:100px}

.mtm3{margin-top:-3px !important}
.mtm4{margin-top:-4px !important}
.mtm5{margin-top:-5px !important}
.mtm37{margin-top:-37px !important}

.mr1{margin-right:1px !important;}
.mr2{margin-right:2px}
.mr3{margin-right:3px}
.mr4{margin-right:4px}
.mr5{margin-right:5px}
.mr6{margin-right:6px}
.mr7{margin-right:7px}
.mr8{margin-right:8px}
.mr9{margin-right:9px}
.mr10{margin-right:10px}
.mr12{margin-right:12px}
.mr14{margin-right:14px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr25{margin-right:25px}
.mr28{margin-right:28px}
.mr30{margin-right:30px}
.mr35{margin-right:35px}
.mr37{margin-right:37px}
.mr38{margin-right:38px}
.mr53{margin-right:53px}
.mr55{margin-right:55px}

.ml1{margin-left:1px}
.ml2{margin-left:2px}
.ml3{margin-left:3px}
.ml4{margin-left:4px}
.ml5{margin-left:5px}
.ml6{margin-left:6px}
.ml7{margin-left:7px}
.ml8{margin-left:8px}
.ml10{margin-left:10px !important;}
.ml11{margin-left:11px !important;}
.ml12{margin-left:12px}
.ml15{margin-left:15px}
.ml17{margin-left:17px}
.ml18{margin-left:18px}
.ml20{margin-left:20px}
.ml22{margin-left:22px}
.ml23{margin-left:23px}
.ml25{margin-left:25px}
.ml28{margin-left:28px}
.ml29{margin-left:29px}
.ml30{margin-left:30px}
.ml32{margin-left:32px}
.ml35{margin-left:35px}
.ml37{margin-left:37px}
.ml40{margin-left:40px}
.ml41{margin-left:41px}
.ml45{margin-left:45px}
.ml50{margin-left:50px}
.ml53{margin-left:53px}
.ml60{margin-left:60px}
.ml70{margin-left:70px}
.ml80{margin-left:80px}
.ml90{margin-left:90px}

.mb1{margin-bottom:1px}
.mb2{margin-bottom:2px}
.mb3{margin-bottom:3px}
.mb4{margin-bottom:4px}
.mb5{margin-bottom:5px !important}
.mb6{margin-bottom:6px}
.mb7{margin-bottom:7px}
.mb8{margin-bottom:8px}
.mb9{margin-bottom:9px}
.mb10{margin-bottom:10px !important;}
.mb11{margin-bottom:11px}
.mb12{margin-bottom:12px}
.mb13{margin-bottom:13px}
.mb14{margin-bottom:14px}
.mb15{margin-bottom:15px}
.mb18{margin-bottom:18px}
.mb20{margin-bottom:20px !important;}
.mb22{margin-bottom:22px}
.mb25{margin-bottom:25px !important;}
.mb28{margin-bottom:28px}
.mb30{margin-bottom:30px !important;}
.mb33{margin-bottom:33px}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px}
.mb50{margin-bottom:50px !important;}
.mb60{margin-bottom:60px !important;}
.mb65{margin-bottom:65px}
.mb70{margin-bottom:70px}
.mb75{margin-bottom:75px}
.mlm20{margin-left:-20px;}
/* input-type */
input {border:none;}
.input_txt {border:1px solid #cccccc; color:#4c4c4c; height:17px; padding:2px 2px 1px 4px; font-family:'돋움',"dotum", Sans-serif;}
.input_radio {vertical-align:-2px;}

.of{overflow:hidden;}
.full{width:730px}
.png24{}


/* basic-alink */
a:link        {color:#4C4C4C;text-decoration:none;}
a:visited     {color:#4C4C4C;text-decoration:none;}
a:active      {color:#4C4C4C;text-decoration:none;}
a:hover       {color:#4C4C4C;text-decoration:underline;}

.end{opacity:0.40;filter:alpha(opacity=40);}
.end a{cursor:default}

.f_d2{color:#D2D4D8}
.f_red{color:#D91B83 !important}
.f_green{color:#68AF40}
.f_blue{color:#3883C1 !important}
.f_93{color:#9399A1}
.f_41{color:#414141}
.f_violet {color:#9b45ad;}
.clear {clear:both;}
.clear:after {display:block; clear:both; content:" "; width:0; height:0; line-height:0; font-size:0; overflow:hidden; visibility:hidden;}
.height_auto{height:auto !important;padding:0 0 70px 0}
.hand{cursor:hand;cursor:pointer;}
.btn_more{display:inline-block;margin-left:10px;}

